@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
}
.ql-editor {
  font-size: 1.05rem;
}

@keyframes favorite {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.animate-favorite {
  animation: favorite 0.4s ease-in-out;
}

.grecaptcha-badge {
  visibility: visible !important;
  opacity: 1 !important;
}